body {
  background: #f9f8fe;
  font-family: "PT Sans", sans-serif;
}
a {
  color: #9670f4;
}
header .dictionary-logo {
  font-size: 46px;
  font-family: "Sacramento", cursive;
  background: #9670f4;
  color: #f9f8fe;
  align-self: end;
  margin-right: 12px;
  border: #9670f4 solid 1px;
  border-radius: 50%;
  padding: 0 12px;
}
header .abreviation {
  font-size: 62px;
}
header .dictionary-name {
  font-size: 8px;
  margin-top: -15px;
}
button {
  width: -webkit-fill-available;
}
.App-header {
  margin: 30px 0;
  color: #9670f4;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.letter {
  position: relative;
  bottom: -5px;
}
