button {
  width: -webkit-fill-available;
}
@media (max-width: 767px) {
  div.search-btn {
    margin-top: 10px;
  }
}
.dictionary section {
  background: white;
  padding: 30px;
  margin: 20px 0;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
}
div.sugested-words {
  font-size: 14px;
  color: #70757a;
  margin-top: 5px;
}
