.dictionary section {
  background: white;
  padding: 30px;
  margin: 20px 0;
  border-radius: 6px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
}
p.sugested-words {
  font-size: 14px;
  color: #70757a;
}
